.Style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.cardStyle,
.cardStyleRegister,
.cardStyleReset {
  text-align: center;
  align-content: center;
  font-family: sans-serif;
  width: 50%;
  justify-content: center;
  margin-top: 20px;
  height: 450px auto;
}

.label {
  display: flex;
  flex-direction: row;
  /* margin-left: 15px; */
}

.NavCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  width: 50vw;
  height: 50px;
}

.IconTitle {
  display: flex;
  flex-direction: row;
}

.appBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.NavBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.DashBord {
  width: 100%;
  display: flex;
}

.sideNav-Items {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-around;
  border-radius: '0px 50px 50px 0px'
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 5px;
  height: fit-content;
  max-height: 250px;
  overflow-y: scroll;

}

.labelList {
  padding: 5px;
  margin: 5px;
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  height: auto;
}

.NavContent,
.titleIcon {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.NavContent-Left,
.NavContent-Right {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.labelsCheckBox {
  display: flex;
  width: 70%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}


.listLabels {
  display: flex;
  width: 100%;
  min-height: 100px;
  height: auto;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.Options {
  width: 200px;
  min-height: 50px;
  display: flex;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Options-labels {
  width: 200px;
  min-height: 50px;
  overflow-y: scroll;
  height: 250px;
  display: flex;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.DailogCard {
  padding: 10px;
  width: 35vw;
  height: auto;
}

.NavSideBar {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.NotesColorSelection {
  display: 'flex';
  width: 100px;
  height: auto;
  flex-direction: 'row';
  flex-flow: 'wrap';
  justify-content: 'space-between';

}

h1,
h2,
h5,
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

img {
  border-radius: 50px;
}

.SignButton {
  width: 40%;
}

.card-Forgot {
  color: blue;
  text-align: right;
  padding-right: 25%;
  font-size: 10pt;
}

.Container {
  width: 100%;
  height: 100vh;
}

.popNone {
  display: none
}

.popDisplay {
  display: flex
}

@media screen and (max-width: 600px) {
  .NavCard {
    display: none;

  }
}


.NoteCreate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15vh;
  margin-left: 12%;
  justify-content: center;

}

.TakeNote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 50%;
}


.TakeDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 30%;
}



.TakeNoteIcon-Icons {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.TakeNoteIcon {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.decsIcon {
  display: flex;
  width: 77%;
  justify-content: space-between;
  align-items: center;
}

.notesContainer {
  display: flex;
  margin-top: 5%;
  margin-left: 20%;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px; */
}

.NotesScroll {
  margin-top: 2%;
  height: 100vh;
  overflow-y: scroll;
}

.notesCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  margin: 10px;
  width: 20vw;
  grid-auto-flow: dense;
  min-width: 200px;
  height: fit-content;
  /* padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #929796;
  background-color: #333;
  border-radius: 5px; */
  /* height: fit-content; */
}

/* .notesCard-2 {
  grid-column-end: notesCard 2;
  grid-row-end: notesCard 2;
}

.notesCard-3 {
  grid-column-end: notesCard 3;
  grid-row-end: notesCard 4;
} */

.rotate {
  animation: rotate-spin 1s linear;
}

.ListView {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin: 5px;
  padding: 5px;
  width: 80%;
  height: fit-content;
  min-width: 200px;
  min-height: 140px;


}

.profileCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  width: 350px;
  height: auto;
}

.Avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.Avatar-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.Avatar-profile {
  width: 70px;
  height: 90px;
}

.Avatar-button {
  display: flex;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: space-around;
}

.searchNote {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-style: italic
}

.IconsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/* .noHover {
  pointer-events: none;
}

.IconPin {
  display: none;
}

.colorPoper:hover .decsIcon {
  display: flex
}

.ListView:hover .decsIcon {
  display: flex
}


.notesCard:hover .decsIcon {
  display: flex
}

.notesCard:hover .IconPin {
  display: flex
}

.ListView:hover .IconPin {
  display: flex
}

*/


@keyframes rotate-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}