.loginStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.cardStyle {
  text-align: center;
  align-content: center;
  font-family: sans-serif;
  flex-shrink: 1;
  width: 30%;
  margin-top: 10px auto;
  padding: 10px;
  height: 450x;
}

h1, p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin: 5% auto;
}

img {
  border-radius: 50px;
}

.SignButton {
  width: 70%;
  align-items: center
}

.card-Forgot {
  color: blue;
  margin-right: 5%;
  text-align: right;
  font-size: 10pt;
}