.Style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.cardStyle,
.cardStyleRegister,
.cardStyleReset {
  text-align: center;
  align-content: center;
  font-family: sans-serif;
  width: 50%;
  justify-content: center;
  margin-top: 20px;
  height: 450px auto;
}

.label {
  display: flex;
  flex-direction: row;
  /* margin-left: 15px; */
}

.NavCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  width: 50vw;
  height: 50px;
}

.IconTitle {
  display: flex;
  flex-direction: row;
}

.appBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.NavBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.DashBord {
  width: 100%;
  display: flex;
}

.sideNav.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
}

.NavContent,
.titleIcon {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.NavContent-Left,
.NavContent-Right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NotesColorSelection {

  display: 'flex';
  width: 'vw';
  flex-direction: 'row';
  flex-flow: 'wrap';
  justify-content: 'space-between';

}



h1,
h2,
h3,
h5,
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

img {
  border-radius: 50px;
}

.SignButton {
  width: 40%;
}

.card-Forgot {
  color: blue;
  text-align: right;
  padding-right: 25%;
  font-size: 10pt;
}

.Container {
  width: 100%;
  height: 100vh;
}

.NoteCreate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15vh;
  justify-content: center;

}

.TakeNote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 50%;
}

.TakeDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 30%;
}

.decsIcon {
  display: flex;
  justify-content: space-around;

}

.notesContainer {
  display: flex;
  margin-top: 5%;
  margin-left: 20%;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;


}

.NotesScroll {
  margin-top: 2%;
  height: 100vh;
  overflow-y: scroll;
}

.notesCard {
  margin: 5px;
  padding: 5px;
  width: 20vw;
  height: auto;

}