 %style-column {
   display: flex;
   flex-direction: column;
   width: 100%;
 }

 $Color: rgba(0, 0, 0, .54);

 $Default:flex;

 %style-row {
   display: flex;
   flex-direction: row;
 }

 .Style {
   @extend %style-column;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;

 }

 .cardStyle,
 .cardStyleRegister,
 .cardStyleReset {
   text-align: center;
   width: 100%;
   max-width: 300px;
   font-family: sans-serif;
   justify-content: center;
   height: fit-content;
 }

 .label {
   @extend %style-row;

 }

 .NavCard2 {
   display: none;
   margin: 8px;
 }

 .NavCard {
   @extend %style-row;
   justify-content: space-between;
   margin-left: 5%;
   padding: 5px;
   background: #EEFAFF !important;
   box-shadow: none !important;
   width: 90%;
   align-items: center;
   height: 40px;
 }

 .IconTitle {
   @extend %style-column
 }

 .appBar {
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-around;
 }

 .NavBar {
   @extend %style-row;
   justify-content: space-between;
 }

 .DashBord {
   width: 100%;
   display: $Default;
 }

 .sideNav-Items {
   @extend %style-row;
   margin: 5px;
   justify-content: space-around;
   border-radius: '0px 50px 50px 0px'
 }

 .labels {
   @extend %style-column;
   justify-content: space-between;
   padding: 5px;
   margin: 5px;
   height: fit-content;
   max-height: 250px;
   overflow-y: scroll;
 }

 .editLabels {
   display: $Default;
   justify-content: space-between;
   flex-direction: column;
   align-content: center;
   margin: 5px;
 }

 .activeClass {
   background-color: '#F5EEC3';
   border-radius: '0px 50px 50px 0px'
 }

 .labelList {
   @extend %style-row;
   height: 50px;
   //  justify-content: space-between;
   //  padding: 5px;
   //  margin: 5px;
 }

 .sideNav {
   @extend %style-column;
   align-items: center;
   justify-content: space-between;
   padding: 5px;
   margin: 5px;
   height: auto;
 }

 .NavContent,
 .titleIcon {
   @extend %style-row;
   width: 100%;
   align-items: center;
   justify-content: space-between;
 }


 .NavContent-Left,
 .NavContent-Right {
   @extend %style-row;
   align-content: center;
   align-items: center;
   justify-content: space-between;
 }

 .labelsCheckBox {
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

 }


 .listLabels {
   @extend %style-column;
   min-height: 100px;
   height: auto;
   overflow-y: scroll;
   align-items: center;
   justify-content: space-between;
 }

 .Options {
   width: 200px;
   min-height: 50px;
   display: $Default;
   padding: 5px;
   margin: 5px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .Options-labels {
   width: 250px;
   height: 250px;
   display: $Default;
   padding: 10px;
   margin: 5px;
   flex-direction: column;
   justify-content: space-between;
 }

 .span-div {
   display: flex;
   flex-direction: row;
   flex-flow: wrap;
 }

 .labelContent {
   @extend %style-row;
   justify-content: space-between;
   align-items: center;
   margin: 5px
 }

 .createLabel {

   color: $Color;
   display: flex;
   align-items: center;
 }

 .editLabel-options {
   overflow-y: scroll;
   height: fit-content;
   max-height: 250px;
   display: flex;
   padding: 5px;
   margin: 5px;
   flex-direction: column;
   color: slategrey;
   justify-content: space-between;
 }

 .EditLabel {
   width: 250px;
   height: fit-content;
   display: flex;
   flex-direction: column;
   margin: 10px;
   padding: 5px;
 }

 .DailogCard {
   padding: 10px;
   width: 35vw;
   height: auto;
 }

 .NavSideBar {
   display: flex;
   margin: 10px;
   height: 85%;
   justify-content: space-between;
   align-items: center;
 }

 .NotesColorSelection {
   display: 'flex';
   width: 100px;
   height: auto;
   flex-direction: 'row';
   flex-flow: 'wrap';
   justify-content: 'space-between';

 }

 img {
   border-radius: 50px;
 }



 .card-Forgot {
   color: blue;
   text-align: right;
   margin-top: 1rem;
   margin-right: 2rem;
   font-size: 10pt;
   font-weight: bold;
 }

 .Container {
   width: 100%;
   height: auto
 }

 .createlabel-text {
   display: flex !important;
   justify-content: space-between;
   align-items: center;
   justify-content: center;
   width: 94%;
   padding: 4px;
 }

 @media screen and (max-width: 320px) {
   .title {
     display: none;
   }
 }

 @media screen and (max-width: 600px) {
   .NavCard {
     display: none;
   }

   .profileCard {
     width: 285px !important;
     //  margin-left: 10px !important;
   }

   .notes2 {
     justify-content: center;
   }

   .notesCardGrid {
     width: 230px !important;
     margin: 5px !important;
   }

   .NavCard2 {
     display: flex;
   }

   .EditLabel {
     width: 230px !important;
     padding: 2px;
     margin: 2px;
   }
 }


 .NoteCreate {
   @extend %style-row;
   align-items: center;
   justify-content: center;

 }

 .TakeNote {
   @extend %style-row;
   box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
   padding: 5px;
   justify-content: space-between;
   width: 50%;
   min-width: 200px;
   height: 50%;
 }

 .TakeDetails {
   display: flex;
   padding: 5px;
   flex-direction: column;
   justify-content: space-between;
   min-width: 200px;
   width: 50%;
   height: 30%;
 }



 .TakeNoteIcon-Icons {
   display: flex;
   width: 70%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .TakeNoteIcon {
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .decsIcon {
   display: flex;
   width: 77%;
   font-size: 12rem;
   justify-content: space-between;
   align-items: center;
 }

 .notesContainer {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-flow: wrap;

 }

 .NotesScroll {
   margin-top: 2%;
   height: 84vh;
   overflow-y: scroll;
 }

 .notesCardGrid {
   display: flex;
   align-items: center;
   margin: 10px;
   padding: 10px;
   flex-direction: row;
   flex-flow: wrap;
   width: 250px;
   margin: 15px;
   justify-content: center;
   min-width: 200px;
   min-height: 100px;
   height: fit-content;
 }

 .hideDiv {
   display: none;
   //  visibility: hidden !important;
   //  margin-top: 2rem;
 }

 .searchCardSmall {
   @extend %style-row;
   width: 100%;
 }

 .searchCard-div {
   width: 75%;

   @media screen and (max-width:574px) {
     width: 40px !important;
   }
 }

 .createNoteIcons {
   display: flex !important;
 }

 .iconlistCreatenote {
   @extend %style-row;
   justify-content: space-between;
 }

 .notesCard {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: wrap;
   margin: 5px;
   padding: 5px;
   width: 600px;
   height: fit-content;

   @media screen and (min-width:590px) and (max-width: 700px) {
     width: 500px !important;
   }

   @media screen and (min-width:425px)and (max-width: 590px) {
     width: 400px !important;
   }

   @media screen and (max-width: 425px) {
     width: 250px !important;
   }
 }

 .label-div {
   display: flex;
   width: 65%;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .rotate {
   animation: rotate-spin 1s linear;
 }

 .ListView,
 %ListView {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 2rem;
   align-items: center;
   width: 100%;
 }

 .gridView,
 %gridView {
   margin-top: 2rem;
   justify-content: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }


 #transitionLeft {
   margin-left: 15%;
   width: calc(100% - 15%) !important;
   transition: margin-left 0.25s;
 }

 .notes {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 90%;
   align-items: center;
   justify-content: center;
 }

 .notes2 {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 80%;
   align-items: center;
 }

 .space-notes {
   margin: 10px
 }

 .noteAlign-count {
   width: 75%
 }

 .noteAlign {
   width: 90%;

   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   flex-flow: wrap;
 }

 .gridViewTrans {
   @extend %gridView;
   margin-left: 20%;
 }


 .profileCard {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: space-around;
   width: 350px;
   height: auto;
 }

 .Avatar {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   margin: 10px;
 }

 .Avatar-text {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
 }

 .Avatar-profile {
   width: 70px;
   height: 90px;
 }

 .IconPin-hide {
   visibility: hidden;
 }



 .Avatar-button {
   display: flex;
   margin-bottom: 2%;
   flex-direction: row;
   justify-content: space-around;
 }

 .searchNote {
   display: flex;
   justify-content: center;
   font-family: 'Courier New', Courier, monospace;
   align-items: center;
   font-style: italic
 }

 .IconsList-hide {
   visibility: hidden;
   margin: 2px;
 }

 .IconsList {
   @extend %style-row;
   visibility: visible;
   margin: 2px;
   width: 100%;

   justify-content: space-between;

 }

 @keyframes rotate-spin {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }